/* General Variables */
:root {
    --bg-color: #f4f4f9;
    --text-color: #333;
    --navbar-bg: #f4f4f9;
    --navbar-text: #333;
    --hover-color: #f64e00;
    --footer-bg: #3c3c3e;
    --footer-text-color: #fdf5f5;
}

/* General Body Styling */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column; /* Ensures footer is pushed down */
    min-height: 100vh; /* Minimum height to cover viewport */
}

/* Navbar */
#navbar {
    all: unset;
    display: block;
    background-color: #f4f4f4;
}

/* Container for Forms */
.container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; /* Pushes the footer to the bottom */
    margin: 0;
}

.form-container {
    background: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 5rem auto 10rem;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background: #f64e00;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.form-container p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

a {
    color: #007BFF;
    text-decoration: none;
}

/* Footer */
#footer {
    width: 100%;
    background-color: var(--footer-bg);
    color: var(--footer-text-color);
    text-align: center;
    padding: 1rem;
    position: relative; /* Changed from fixed to relative */
}
