/* :root {
    --bg-color: #f4f4f9;
    --text-color: #333;
    --navbar-bg: #f4f4f9;
    --navbar-text: #333;
    --card-bg: #ffffff;
} */
:root {
    --bg-color: #f4f4f9;
    --text-color: #333;
    --navbar-bg: #f4f4f9;
    --navbar-text: #333;
    /* --card-bg: #ffffff; */
    --hover-color: #f64e00;
    --footer-bg: #3c3c3e48;
    --footer-text-color: #fdf5f5;
    /* --navbar-bg: #ffffff; */
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
}
#navbar {
    all: unset;
    display: block; /* Restore default styles */
    margin-bottom: 0;
    background-color: #f4f4f4;
}
.container  {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    margin-top: 0;
}


.form-container {
    background-color: #f4f4f4;
    background: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-bottom: 10rem;
    margin-top: 5rem;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background: #f64e00;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.form-container p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

a {
    color: #007BFF;
    text-decoration: none;
}

#footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    /* height: 4rem; */
    /* padding-bottom: 1rem; */
}
#profile-icon{
    margin: 0.5rem auto 1rem;
   
}