/* Body and Wrapper Styling */
:root{
    --footer-bg: #f4f4f9;
    --footer-text: #333;
}
[data-theme="dark"] {
    --footer-bg: #000;
    --footer-text: #fff;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the body spans the full viewport height */
    margin: 0; /* Remove default margin */
}

main {
    flex: 1; /* Makes the main content area grow to fill the space */
}

/* Footer Styling */
footer {
    width: 100%;
    background-color: var(--footer-bg);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 0px; /* Optional space between content and footer */
}

footer p {
    color: var(--footer-text);
    font-size: 14px;
}
